@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}

li {
  list-style: none;
}

h1,
h2,
h3,
ul {
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  padding-left: 0px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.contacts:not(:last-child) {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .contacts:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__link {
    padding-bottom: 10px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  width: 149px;
  color: rgb(33, 150, 243);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    width: 160px;
  }
}

.logo__secondpart {
  display: inline-block;
  color: rgb(33, 33, 33);
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .logo__secondpart {
    display: inline;
  }
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.logo--footer > span {
  color: #ffffff;
}

.title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: rgb(33, 33, 33);
}

.title--none {
  display: none;
  text-align: center;
}

.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 206px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .network {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.network__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(175, 177, 184);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__icon:not(:last-child) {
  margin-right: 10px;
}
.network__icon:hover, .network__icon:focus {
  background-color: rgb(33, 150, 243);
  fill: #ffffff;
}
.network__icon:hover .network__labe, .network__icon:focus .network__labe {
  fill: #ffffff;
}

.network__icon--foot {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 44px;
  background: rgba(255, 255, 255, 0.1);
}

.network__icon--foot:not(:last-child) {
  margin-left: 10px;
}

.network__labe {
  fill: rgb(175, 177, 184);
}

.network__title {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.14;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .network__title {
    text-align: left;
  }
}

.network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.network__list > li:not(:last-child) {
  margin-right: 10px;
}

.network--footer {
  display: block;
}

.network__labe--foot {
  margin: 0 auto;
  fill: #ffffff;
}

.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
}

.advantage--block {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .advantage--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.advantage {
  padding-top: 60px;
  padding-top: 120px;
}
@media screen and (min-width: 768px) {
  .advantage {
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* розмітка тексту переваг */
.advantage__paragraf {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0px;
}

.advantage__card:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantage__card:not(:last-child) {
    margin-bottom: 0;
  }
}

.title--none {
  display: none;
  text-align: center;
}

.title {
  text-align: center;
}

.advantage__card::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .advantage__card::before {
    width: 270px;
    height: 120px;
  }
}

.advantage__card:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}
.advantage__card:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}
.advantage__card:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}
.advantage__card:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}
@media screen and (min-width: 768px) {
  .advantage__card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__card {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
}

header {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.header {
  position: relative;
}

.header__humburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__humburger {
    display: none;
  }
}

.menu-button {
  position: absolute;
  right: 15px;
  top: 10px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button.is-open {
  position: fixed;
}

.header__navmenu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
  /* outline: 2px dashed green; */
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
@media screen and (min-width: 481px) {
  .header__navmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__navlink {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgb(33, 33, 33);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navlink:hover, .header__navlink:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.header__navlink--active {
  position: relative;
  color: rgb(33, 150, 243);
}
.header__navlink--active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

.header__nav {
  height: 100%;
  display: none;
}
.header__nav:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__auth {
  display: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .header__auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* задаємо відступ між елементами*/
.contacts:not(:last-child) {
  margin-right: 50px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); - це короткий запис */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts:hover, .header__contacts:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon--mail {
  width: 16px;
  height: 12px;
}

.contacts__icon--phone {
  width: 10px;
  height: 16px;
}

.menu-button.is-open .iconhumb {
  display: none;
}

.menu-button .iconhumb {
  display: block;
}

.menu-button.is-open .iconcross {
  display: block;
}

.menu-button .iconcross {
  display: none;
}

.hiddenmenu {
  position: fixed;
  top: 0;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  outline: 2px solid green;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 48px 40px;
}
.hiddenmenu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .hiddenmenu.is-open {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hiddenmenu {
    display: none;
  }
}

.hiddenmenu__navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
}

.hiddenmenu__nav {
  text-align: left;
}
.hiddenmenu__nav:not(:last-child) {
  margin-bottom: 32px;
}

.hiddenmenu__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 64px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.hiddenmenu__auth .contacts__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.hiddenmenu__auth .contacts:not(:last-child) {
  margin: 0;
  margin-bottom: 32px;
}

.hiddenmenu_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.hiddenmenu__navlink {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: rgb(33, 33, 33);
}
.hiddenmenu__navlink:hover,
.hiddenmenu__navlink :focus {
  color: rgb(33, 150, 243);
}

.hiddenmenu__navlink--active {
  color: rgb(33, 150, 243);
}

.hiddenlink {
  color: rgb(33, 150, 243);
  padding-right: 10px;
}
.hiddenlink:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.sloganhero {
  text-align: center;
  padding: 118px 0px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/backgroun-heads.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroun-heads.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .sloganhero {
    padding: 118px 204px;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .sloganhero {
    padding: 200px 0;
    background-size: cover;
  }
}

.sloganhero__text {
  margin: 0 auto;
  width: 360px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  /* or 1.62% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .sloganhero__text {
    max-width: 360px;
    /* or 162% */
  }
}
@media screen and (min-width: 1200px) {
  .sloganhero__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.sloganhero__button {
  padding: 10px 32px;
  margin-top: 30px;
  border-radius: 4px;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  /* background-color: var(--accent-text-color);
  color: var(--background-color); приміняємо другий клас active*/
}

.sloganhero__button--active {
  background: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.sloganhero__wrapper {
  padding-left: auto;
  padding-right: auto;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .sloganhero__wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.direction {
  display: none;
}
@media screen and (min-width: 1200px) {
  .direction {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-top: 0px;
  }
}

.direction__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: rgb(33, 33, 33);
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.direction__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction__card {
  width: 370px;
  position: relative;
}
.direction__card:not(:last-child) {
  margin-right: 30px;
}

.direction__link > img {
  display: block;
  max-height: 100%;
  height: auto;
}

/* додаємо написи на картники */
.direction__description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.17;
  color: #ffffff;
  text-transform: uppercase;
}

.team {
  background-color: rgb(245, 244, 250);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: rgb(33, 33, 33);
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
}

.team__text {
  line-height: 1.18;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
}

.team__block {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .team__block {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__block + .team__block {
    margin-left: 30px;
  }
}

.team__image {
  margin-bottom: 30px;
  display: block;
  max-height: 100%;
  height: auto;
  width: 100%;
}

.team__name {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: rgb(33, 33, 33);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team__wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: rgb(245, 244, 250);
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: rgb(33, 33, 33);
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 28px;
}

.client__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .client__block {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__card {
  display: block;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
  height: 92px;
  /* border: 1px solid var(--company-color); */
  text-align: center;
  /* border-radius: 4px; */
}
@media screen and (min-width: 768px) {
  .clients__card {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__card {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: 1px solid #afb1b8;
}
.clients__icon:hover .clients__labe, .clients__icon:focus .clients__labe, .clients__icon:hover, .clients__icon:focus {
  fill: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
  cursor: pointer;
}

.clients__labe {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__block {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__block {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  address {
    display: block;
  }
}
@media screen and (min-width: 468px) {
  .footer__contacts {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    text-align: left;
  }
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer__addressblock {
  text-align: center;
}
@media screen and (min-width: 468px) {
  .footer__addressblock {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__addressblock {
    text-align: left;
  }
}

.footer__info {
  margin-bottom: 60px;
}
.footer__info:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__info {
    margin: 0;
  }
}

.contacts.footer__info {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .footer__info:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer__mail,
.footer__tel {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer__address:hover,
.footer__mail:hover,
.footer__tel:hover,
.footer__address:active,
.footer__mail:active,
.footer__tel:active {
  -webkit-text-decoration-color: rgb(33, 150, 243);
          text-decoration-color: rgb(33, 150, 243);
  /* cursor: pointer; */
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.footer__form-button > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: 10px;
  color: #ffffff;
}

.footer__form-icon {
  fill: #ffffff;
}

.footer__input {
  background-color: #2f303a;
  color: #ffffff;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__input {
    min-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer__input {
    margin-right: 12px;
  }
}

.footer__network-title-moto {
  line-height: 1.14;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__network-title-moto {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__network-title-moto {
    text-align: left;
  }
}

.footer__form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  background-color: rgb(33, 150, 243);
  padding: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__mailing {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 768px) {
  .examples {
    padding-bottom: 60px;
  }
}

.examples__title {
  display: none;
  text-align: center;
}

.examples__menu {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}
@media screen and (min-width: 768px) {
  .examples__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
  }
}

.example__menu-button {
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  border-width: 0;
  color: rgb(33, 33, 33);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example__menu-button:hover, .example__menu-button:focus {
  color: rgb(245, 244, 250);
  background-color: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example__menu-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.example__menu-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.example__menu-button--active {
  background: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.examples__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .examples__block:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .examples__block {
    gap: 15px;
  }
}

.card {
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .card:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.card:first-child {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .card:first-child {
    margin-top: 0;
  }
}
.card:hover, .card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: rgb(33, 33, 33);
}

.card__category {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.card__bottom {
  border: 1px solid rgb(245, 244, 250);
  border-top: none;
  padding: 20px 24px;
}

.card__img {
  display: block;
  max-height: 100%;
  height: auto;
  width: 100%;
}

/* робимо інтерактивні ефекти на портфоліо картинки */
.card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.card__text {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding-top: 63px;
  padding-left: 23px;
  padding-right: 23px;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .description::before{
    content:"Ресурс предлагает комплексные предложения с разным уровнем функционала и сервисов. Все это позволит посетителю получить исчерпывающие сведения о компании или частном лице.";
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    display: block;
    padding: 63px 24px;

    position: absolute;
    opacity: 1;
    transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--background-color); */
.card:hover .card__text,
.card:focus .card__text {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* .exampl-flex:hover .description-text{
    opacity: 1;
    bottom:-100%;
    transform: translate(0,-150%); 
/* .nav-link:current
{
    color: var(--accent-text-color);
} */
@media screen and (min-width: 768px) {
  .last-card {
    margin-left: 20px;
    margin-right: auto;
  }
}

.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25), -webkit-transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25);
  transition: opacity 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25), -webkit-transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25);
  transition: transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25), opacity 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25);
  transition: transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25), opacity 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25), -webkit-transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25);
  /* animation-name: backdrop-animation;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}
@media screen and (max-width: 767px) {
  .backdrop {
    z-index: 1500;
    margin-left: 15px;
    margin-top: 93px;
    margin-right: 15px;
    margin-bottom: auto;
  }
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}
.backdrop--is-hidden .backdrop__modal {
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}

.backdrop__modal {
  opacity: 1;
  width: 100%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25) 250ms;
  transition: -webkit-transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25) 250ms;
  transition: transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25) 250ms;
  transition: transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25) 250ms, -webkit-transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25) 250ms;
}
@media screen and (max-width: 768px) {
  .backdrop__modal {
    margin-top: 93px;
    margin-left: auto;
    margin-right: auto;
    max-height: 609px;
    width: 90vw;
    margin-bottom: 94px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop__modal {
    width: 528px;
    height: 581px;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.backdrop__crossicon {
  position: absolute;
  fill: black;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  height: 18px;
}

.backdrop__modalbutton {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
}
.backdrop__modalbutton:hover .backdrop__crossicon, .backdrop__modalbutton:focus .backdrop__crossicon {
  fill: rgb(33, 150, 243);
}

.backdrop__crossicon {
  position: absolute;
  fill: black;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  height: 18px;
}

.backdrop__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.backdrop__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.backdrop__form-part {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__form-part:focus-within {
  fill: rgb(33, 150, 243);
  cursor: pointer;
  border-color: rgb(33, 150, 243);
}
.backdrop__form-part:focus-within .backdrop__form-put {
  border-color: rgb(33, 150, 243);
}

.backdrop__form-part > labe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.backdrop__form-put {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 40px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form-button--back {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.backdrop__form-put[name=feedback] {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.backdrop__checking-icon[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clear: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop__form-part--checkbox {
  display: inline-block;
  width: 100%;
  height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .backdrop__form-part--checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
  }
}

.backdrop__title {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: rgb(33, 33, 33);
}

.icon-check {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 4px;
}

.app-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: transparent;
}

.checklink {
  text-decoration: underline;
  color: rgb(33, 150, 243);
}

.backdrop__checking-icon:checked + .icon-check,
.backdrop__checking-icon:checked + .icon-check > .app-icon {
  background-color: rgb(33, 150, 243);
  border: transparent;
  fill: #ffffff;
  border-radius: 4px;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 15px;
}/*# sourceMappingURL=main.css.map */