@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}

li {
  list-style: none;
}

h1,
h2,
h3,
ul {
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  padding-left: 0px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: rgb(33, 150, 243);
  width: 145px;
}

.logo__secondpart {
  display: inline-block;
  color: rgb(33, 33, 33);
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.logo--footer > span {
  color: #ffffff;
}

.container {
  width: 1200px;
  /* background-color: rgb(197, 246, 246); */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
  /* outline: 2px dashed green; */
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.header__nav-link {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgb(33, 33, 33);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover, .header__nav-link:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.header__nav-link--active {
  position: relative;
  color: rgb(33, 150, 243);
}
.header__nav-link--active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

.header__nav {
  height: 100%;
}
.header__nav:not(:last-child) {
  margin-right: 50px;
}

.header__nav-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  margin-left: auto;
}

/* задаємо відступ між елементами*/
.header__nav-auth-cont:not(:last-child) {
  margin-right: 50px;
}

.header__auth-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); - це короткий запис */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__auth-link:hover, .header__auth-link:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.header__auth-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__auth-icon--mail {
  width: 16px;
  height: 12px;
}

.header__auth-icon--phone {
  width: 10px;
  height: 16px;
}

.sloganhero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/backgroun-heads.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroun-heads.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.sloganhero__text {
  margin: 0 auto;
  width: 696px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.sloganhero__button {
  padding: 10px 32px;
  margin-top: 30px;
  border-radius: 4px;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  /* background-color: var(--accent-text-color);
  color: var(--background-color); приміняємо другий клас active*/
}

.sloganhero__button--active {
  background: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage__card-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: rgb(33, 33, 33);
}

/* розмітка тексту переваг */
.advantage__paragraf {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0px;
}

.advantage__title {
  display: none;
  text-align: center;
}

.advantage__card::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantage__card + .advantage__card {
  margin-left: 30px;
}
.advantage__card:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}
.advantage__card:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}
.advantage__card:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}
.advantage__card:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.direction {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-top: 0px;
}

.direction__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: rgb(33, 33, 33);
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.direction__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction__card {
  width: 370px;
  position: relative;
}
.direction__card:not(:last-child) {
  margin-right: 30px;
}

.direction__link > img {
  display: block;
  max-height: 100%;
  height: auto;
}

/* додаємо написи на картники */
.direction__description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.17;
  color: #ffffff;
  text-transform: uppercase;
}

.team {
  background-color: rgb(245, 244, 250);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: rgb(33, 33, 33);
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
}

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(245, 244, 250);
}

.team__block {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team__block + .team__block {
  margin-left: 30px;
}

.team__image {
  margin-bottom: 30px;
  display: block;
  max-height: 100%;
  height: auto;
}

.team__name {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: rgb(33, 33, 33);
  text-align: center;
}

.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 206px;
}

.network__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(175, 177, 184);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__icon:not(:last-child) {
  margin-right: 10px;
}
.network__icon:hover, .network__icon:focus {
  background-color: rgb(33, 150, 243);
  fill: #ffffff;
}
.network__icon:hover .network__labe, .network__icon:focus .network__labe {
  fill: #ffffff;
}

.network__icon--foot {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 44px;
  background: rgba(255, 255, 255, 0.1);
}

.network__icon--foot:not(:last-child) {
  margin-left: 10px;
}

.network__labe {
  fill: rgb(175, 177, 184);
}

.network__title {
  line-height: 1.14;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.network__list > li:not(:last-child) {
  margin-right: 10px;
}

.network--footer {
  display: block;
}

.network__labe--foot {
  margin: 0 auto;
  fill: #ffffff;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: rgb(33, 33, 33);
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.client__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.clients__card {
  display: block;
  width: 170px;
  height: 92px;
  /* border: 1px solid var(--company-color); */
  margin: 15px;
  text-align: center;
  /* border-radius: 4px; */
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: 1px solid #afb1b8;
}
.clients__icon:hover .clients__labe, .clients__icon:focus .clients__labe, .clients__icon:hover, .clients__icon:focus {
  fill: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
  cursor: pointer;
}

.clients__labe {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

address {
  display: block;
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer__info:not(:last-child) {
  margin-bottom: 9px;
}

.footer__mail,
.footer__tel {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer__address:hover,
.footer__mail:hover,
.footer__tel:hover,
.footer__address:active,
.footer__mail:active,
.footer__tel:active {
  -webkit-text-decoration-color: rgb(33, 150, 243);
          text-decoration-color: rgb(33, 150, 243);
  /* cursor: pointer; */
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
}

.footer__form-button > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: 10px;
  color: #ffffff;
}

.footer__form-icon {
  fill: #ffffff;
}

.footer__input {
  background-color: #2f303a;
  color: #ffffff;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  margin-right: 12px;
}

.footer__network-title-moto {
  line-height: 1.14;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  background-color: rgb(33, 150, 243);
  padding: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.examples__title {
  display: none;
  text-align: center;
}

.examples__menu {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.example__menu-button {
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  border-width: 0;
  color: rgb(33, 33, 33);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example__menu-button:hover, .example__menu-button:focus {
  color: rgb(245, 244, 250);
  background-color: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example__menu-item:not(:last-child) {
  margin-right: 8px;
}

.example__menu-button--active {
  background: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.examples__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card {
  margin-right: 30px;
  margin-bottom: 30px;
}
.card:hover, .card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card:nth-child(3n) {
  margin-right: 0px;
}
.card:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: rgb(33, 33, 33);
}

.card__category {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.card__bottom {
  border: 1px solid rgb(245, 244, 250);
  border-top: none;
  padding: 20px 24px;
}

.card__img {
  display: block;
  max-height: 100%;
  height: auto;
}

/* робимо інтерактивні ефекти на портфоліо картинки */
.card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.card__text {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding-top: 63px;
  padding-left: 23px;
  padding-right: 23px;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .description::before{
    content:"Ресурс предлагает комплексные предложения с разным уровнем функционала и сервисов. Все это позволит посетителю получить исчерпывающие сведения о компании или частном лице.";
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    display: block;
    padding: 63px 24px;

    position: absolute;
    opacity: 1;
    transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--background-color); */
.card:hover .card__text,
.card:focus .card__text {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* .exampl-flex:hover .description-text{
    opacity: 1;
    bottom:-100%;
    transform: translate(0,-150%); 
/* .nav-link:current
{
    color: var(--accent-text-color);
} */
.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25), -webkit-transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25);
  transition: opacity 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25), -webkit-transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25);
  transition: transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25), opacity 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25);
  transition: transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25), opacity 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25), -webkit-transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25);
  /* animation-name: backdrop-animation;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.backdrop__modal {
  opacity: 1;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
          transform: translate(-50%, -50%) rotate(360deg);
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25) 250ms;
  transition: -webkit-transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25) 250ms;
  transition: transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25) 250ms;
  transition: transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25) 250ms, -webkit-transform 250ms cubic-bezier(0.15, 0.59, 0.76, 0.25) 250ms;
}

.backdrop__modal-cross-icon {
  position: absolute;
  fill: black;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  height: 18px;
}

.backdrop__modalbutton {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
}
.backdrop__modalbutton:hover .backdrop__modal-cross-icon, .backdrop__modalbutton:focus .backdrop__modal-cross-icon {
  fill: rgb(33, 150, 243);
}

.backdrop__modal-cross-icon {
  position: absolute;
  fill: black;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  height: 18px;
}

.backdrop__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop__form-part {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__form-part:focus-within {
  fill: rgb(33, 150, 243);
  cursor: pointer;
  border-color: rgb(33, 150, 243);
}
.backdrop__form-part:focus-within .backdrop__form-put {
  border-color: rgb(33, 150, 243);
}

.backdrop__form-part > labe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.backdrop__form-put {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 40px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form-button--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.backdrop__form-put[name=feedback] {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.backdrop__checking-icon[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clear: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop__form-part--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 423px;
  height: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.backdrop__title {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: rgb(33, 33, 33);
}

.icon-check {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 4px;
}

.app-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: transparent;
}

.checklink {
  text-decoration: underline;
  color: rgb(33, 150, 243);
}

.backdrop__checking-icon:checked + .icon-check,
.backdrop__checking-icon:checked + .icon-check > .app-icon {
  background-color: rgb(33, 150, 243);
  border: transparent;
  fill: #ffffff;
  border-radius: 4px;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 15px;
}/*# sourceMappingURL=main.css.map */