@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}

li {
  list-style: none;
}

h1,
h2,
h3,
ul {
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  padding-left: 0px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__link {
    padding-bottom: 10px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: rgb(33, 150, 243);
}
@media screen and (min-width: 481px) {
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    width: 149px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    width: 160px;
  }
}

.logo__secondpart {
  display: inline-block;
  color: rgb(33, 33, 33);
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.logo--footer > span {
  color: #ffffff;
}

.title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: rgb(33, 33, 33);
}

.title--none {
  display: none;
  text-align: center;
}

.advantage--block {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .advantage--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.advantage {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .advantage {
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* розмітка тексту переваг */
.advantage__paragraf {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0px;
}

.advantage__card:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantage__card:not(:last-child) {
    margin-bottom: 0;
  }
}

.title--none {
  display: none;
  text-align: center;
}

.title {
  text-align: center;
}

.advantage__card::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .advantage__card::before {
    width: 270px;
    height: 120px;
  }
}

.advantage__card:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}
.advantage__card:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}
.advantage__card:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}
.advantage__card:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}
@media screen and (min-width: 768px) {
  .advantage__card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__card {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
}

header {
  border-bottom: 1px solid rgb(236, 236, 236);
  outline: 1px dashed red;
}

.header {
  position: relative;
}

.header__humburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 481px) {
  .header__humburger {
    display: none;
  }
}

.menu-button {
  position: absolute;
  right: 15px;
  top: 10px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 481px) {
  .menu-button {
    display: none;
  }
}

.header__navmenu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
  /* outline: 2px dashed green; */
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
@media screen and (min-width: 481px) {
  .header__navmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__navlink {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgb(33, 33, 33);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navlink:hover, .header__navlink:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.header__navlink--active {
  position: relative;
  color: rgb(33, 150, 243);
}
.header__navlink--active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

.header__nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav:not(:last-child) {
  margin-right: 50px;
}

.header__auth {
  display: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header__auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .header__auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* задаємо відступ між елементами*/
.contacts:not(:last-child) {
  margin-right: 50px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); - це короткий запис */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts:hover, .header__contacts:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon--mail {
  width: 16px;
  height: 12px;
}

.contacts__icon--phone {
  width: 10px;
  height: 16px;
}

.sloganhero {
  text-align: center;
  padding: 118px 0px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/backgroun-heads.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroun-heads.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .sloganhero {
    padding: 118px 204px;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .sloganhero {
    padding: 200px 0;
    background-size: cover;
  }
}

.sloganhero__text {
  margin: 0 auto;
  width: 360px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  /* or 1.62% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .sloganhero__text {
    max-width: 360px;
    /* or 162% */
  }
}
@media screen and (min-width: 1200px) {
  .sloganhero__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.sloganhero__button {
  padding: 10px 32px;
  margin-top: 30px;
  border-radius: 4px;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  /* background-color: var(--accent-text-color);
  color: var(--background-color); приміняємо другий клас active*/
}

.sloganhero__button--active {
  background: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.sloganhero__wrapper {
  padding-left: auto;
  padding-right: auto;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .sloganhero__wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.direction {
  display: none;
}
@media screen and (min-width: 1200px) {
  .direction {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-top: 0px;
  }
}

.direction__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: rgb(33, 33, 33);
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.direction__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction__card {
  width: 370px;
  position: relative;
}
.direction__card:not(:last-child) {
  margin-right: 30px;
}

.direction__link > img {
  display: block;
  max-height: 100%;
  height: auto;
}

/* додаємо написи на картники */
.direction__description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.17;
  color: #ffffff;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */