:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: rgba(33, 150, 243, 1);
    --background-color: #FFFFFF;
    --btn-background: #f5f4fa;
    --slogan-background: #2F303A;
    --footer-color: rgba(255, 255, 255, 0.6);
}
/* задаю основний колір, фон, та шрифт  */
body {
    background: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

a, button {
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
}
/* #757575 текст основний */
/* #212121 текст заголовки */
/* #2F303A колір шапки та футера */
/* #E5E5E колір фону основний */
/* rgba(33, 150, 243, 1) колір ектів кнопка */
/* приміняємо стилі до логотипа */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-text-color);
}

.logo:hover,
.logo:active {
    color: var(--accent-text-color);
}

.logo > span {
    color: var(--title-text-color);
}

footer > .logo > span {
color: var(--background-color);
}
/* приміняємо стилі до посилань в шапці, окрім пошти та телефону */
.nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
/* приміняємо стилі до пошти та телфону в шапці */
.nav-auth .link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.nav-active {
    color: var(--accent-text-color);
}

.nav-link:hover,
.nav-auth .link:hover,
.nav-link:focus,
.nav-auth .link:focus{
    color: var(--accent-text-color);
}


/* main частина перша секція */
.slogan {
    background-color: var(--slogan-background);
}

.slogan-text {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
}

.slogan-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* background-color: var(--accent-text-color);
    color: var(--background-color); приміняємо другий клас active*/
}
/* main друга секція */
/* розмітка заголовкі переваг */
.feature .title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}
/* розмітка тексту переваг */
.feature-paragraf {
    font-size: 14px;
    line-height: 1.71;
}
/* main третя секція */
/* розмітка заголовку, також розмічаємо і для наступної секції */
.block-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-text-color);
}
/* розмітка малюнків */
/* .block-img > a > img
{

} */
/*  main четверта секція */
/* розмітка блоків */
.team-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;   
    color: var(--title-text-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
}
/* розмітка підвалу */
.footer {
    background-color: var(--slogan-background);
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    color:var(--background-color);
    
}

.footer-mail,
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-color);
}


.footer-address:hover,
.footer-mail:hover,
.footer-tel:hover,
.footer-address:active,
.footer-mail:active,
.footer-tel:active {
    text-decoration-color: var(--accent-text-color);
    /* cursor: pointer; */
}
/* Розмітка PORTFOLIO */
/* header and footer - розмітка відповідає розмітці index.html */
.menu-button {
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.menu-button:hover,
.menu-button:focus{
    color: var(--btn-background);
    background-color: var(--accent-text-color);
}
.active {
    background: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--background-color);
}
/* Розмітка другої секції */
.examples-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;     
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.examples-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color) 
}
