html {
box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
/* змінні основні */
:root {
    --primary-text-color: rgb(117, 117, 117);
    --title-text-color: rgb(33, 33, 33);
    --accent-text-color: rgba(33, 150, 243, 1);
    --background-color: #FFFFFF;
    --btn-background: rgb(245, 244, 250);
    --slogan-background: #2F303A;
    --footer-color: rgba(255, 255, 255, 0.6);
    --header-border: rgb(236, 236, 236);
    --card-border:rgb(238, 238, 238);
    --hero-overlay:rgba(47, 48, 58, 0.4);
    --company-color:#AFB1B8;
}
/* задаю основний колір, фон, та шрифт  */
body {
    background: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
header{
    border-bottom:1px solid var(--header-border) ;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:var(--slogan-background);
    background-image:linear-gradient(to right, var(--hero-overlay),var(--hero-overlay)), url(../images/backgroun-heads.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.block {
    padding-top: 0px;
}

.container {
    width: 1200px;
    /* background-color: rgb(197, 246, 246); */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.slogan {
        text-align: center;
}

a, button {
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
}

li {
    list-style: none;
}

h1,h2,h3,ul{
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
    padding-left: 0px;
}
/* #757575 текст основний */
/* #212121 текст заголовки */
/* #2F303A колір шапки та футера */
/* #E5E5E колір фону основний */
/* rgba(33, 150, 243, 1) колір ектів кнопка */
/* приміняємо стилі до логотипа */
.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-text-color);
    
}

.logo:hover,
.logo:active {
    color: var(--accent-text-color);
}

.logo > span {
    display: inline-block;

    color: var(--title-text-color);
}

footer > .logo > span {
    color: var(--background-color);
}
/* загальний клас для флекса */
.flex{
    display: flex;
    align-items: center;
}
/* приміняємо флекс до меню хедера */
.nav-menu {
    display:flex;
    align-items: center;
    margin-left: 93px;
}

/* задаємо відступи між елементами */
.nav-menu>li:not(:last-child) {
    margin-right: 50px;
}

/* задаємо розмір логотипа */
.nav>a {
    width: 145px;
}

/* робимо флекс бокси */
.nav {
    display: flex;
    align-items: center;    
}

.nav-auth {
    display: flex;
    align-items: center;
    margin-left: auto;
}
/* задаємо відступ між елементами*/
.nav-auth > li:not(:last-child){
    margin-right: 50px;
}

/* приміняємо стилі до посилань в шапці, окрім пошти та телефону */
.nav-link {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
/* приміняємо стилі до пошти та телфону в шапці */
.nav-auth .link {
    display: flex;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.nav-active {
    color: var(--accent-text-color);
}

/* Іконки хедера */
.head-icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.head-icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
/* Даємо фокус та ховер на телефон та меіл */
.nav-link:hover,
.nav-link:focus,
.nav-auth-cont .link:focus,
.nav-auth-cont .link:hover{
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
}


/* main частина перша секція */
.slogan-text {
    margin: 0 auto;
    width: 696px;

    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
}

.slogan-button {
    padding:10px 32px;
    margin-top: 30px;
    border-radius: 4px;
    display: inline-block;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    /* background-color: var(--accent-text-color);
    color: var(--background-color); приміняємо другий клас active*/
}
/* main друга секція */
/* розмітка заголовкі переваг */

.feature .title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}
/* розмітка тексту переваг */
.feature-paragraf {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
    margin-bottom: 0px;
}
.feature-title{
    display: none;
    text-align: center;
    
}

.flex>li::before{
    display: block;
    content:"";
    /* width: 270px; */
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--btn-background);
    border-radius:4px;
    
    background-repeat: no-repeat;
    background-position: center;
}
.flex>li:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
    
}

.flex>li:nth-child(2)::before {
    background-image: url(../images/clock.svg);
}

.flex>li:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
}

.flex>li:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
}

.flex>li{
    width: 270px;
}

.flex>li+li{
    margin-left: 30px;
}
/* main третя секція */
/* розмітка заголовку, також розмічаємо і для наступної секції */
.block-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    }
.block-flex{
    display: flex;

}

.block-img {
    width: 370px;
}

.block-img>a>img {
    display: block;
    max-height:100%;
    height: auto;
}

.block-flex>li:not(:last-child) {
    margin-right: 30px;
}
/* розмітка малюнків */
/* .block-img > a > img
{

} */
/*  main четверта секція */
/* розмітка блоків */
.block-title {
    margin-bottom: 50px;
}

.team {
    background-color:var(--btn-background) ;
}

.team-title {
    margin-bottom: 10px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;   
    color: var(--title-text-color);
    text-align: center;  
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
}

.team-flex{
    display: flex;
    background-color: var(--btn-background);
}

.team-block {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-color);
}

.team-card {
    margin-bottom: 30px;
    display: block;
    max-height: 100%;
    height: auto;
}
.social-network {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 30px;
    justify-content: center;
    width: 206px;
}

.icon-network {
    display:flex;
    width: calc((100%-30px)/4);
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
    color: var(--primary-text-color);
}

.icon-network+.icon-network{
margin-left: 10px;
}

.icon-network:hover,
.icon-network:focus {
    background-color: var(--accent-text-color);
    fill: var(--background-color);
}

.labe {
    fill:rgba(175, 177, 184, 1);;
}

.icon-network:hover .labe,
.icon-network:focus .labe {
    fill: var(--background-color);
}

.team-flex>li+li{
    margin-left: 30px;
}
/* розмітка пятої секції Наші клієнти */
.client-block{
    display: flex;
    margin: -15px;
}

.client{
    display: block;
    width: calc((100%-150px)/6);
    border: 1px solid var(--company-color);
    margin: 15px;
    text-align: center;
    padding: 16px 32px;
}

.company{
    fill:var(--company-color);
}

.client:hover,
.client:focus{
    border-color:var(--accent-text-color);
    cursor: pointer; 
}

.client:hover .labe,
.client:focus .labe{
    fill: var(--accent-text-color);
}

/* розмітка підвалу */
.footer {
    background-color: var(--slogan-background);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-blocks{
    display: inline-flex;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
address {
    display: block;
}

.footer .logo>span {
    color: var(--background-color);
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    color:var(--background-color);
    
}

.footer-info:not(:last-child) {
    margin-bottom: 9px;
}

.footer-mail,
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-color);
}


.footer-address:hover,
.footer-mail:hover,
.footer-tel:hover,
.footer-address:active,
.footer-mail:active,
.footer-tel:active {
    text-decoration-color: var(--accent-text-color);
    /* cursor: pointer; */
}
/* розмітка соціальних сіток футера */
.social-network-footer {
    display: flex;
    margin-left: 70px;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 100px;
    justify-content: flex-start;
    width: 206px;
    flex-wrap: wrap;
}

.foot {
    justify-content:flex-start;
    width: 44px;
    background: rgba(255, 255, 255, 0.1);
}

.infoot {
    margin: 0 auto;
    fill: #FFFFFF;
}

.network-title{
    line-height: 1.14;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: var(--background-color);
    margin-bottom: 20px;
}
/* Розмітка PORTFOLIO */
/* header and footer - розмітка відповідає розмітці index.html */
.examples>.container>h1 {
    display: none;
    text-align: center;
}

.examples-menu {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: flex-start;
}

.menu-button {
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    padding:6px 22px;
    border-width: 0;
    color:var(--title-text-color)
}

.examples-menu>li:not(:last-child){
    margin-right: 8px;
}

.menu-button:hover,
.menu-button:focus {
    color: var(--btn-background);
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.active {
    background: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--background-color);
}

.examples-flex {
    display: flex;
    flex-wrap: wrap;
}

.exampl-flex {
    margin-right: 30px;
    margin-bottom: 30px;
}

.exampl-flex:hover,
.exampl-flex:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.exampl-flex:nth-child(3n) {
    margin-right: 0px;
}

.exampl-flex:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.examples-title {
    margin: 0;
    margin-bottom: 4px;
    

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;     
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.examples-text {
    margin: 0;
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color) 
}

.card-bottom {
    border: 1px solid var(--btn-background);
    border-top: none;
    padding: 20px 24px;
}

.examples-img {
    display: block;
    max-height: 100%;
    height: auto;
}
/* .nav-link:current
{
    color: var(--accent-text-color);
} */