@import './utils/varibals';
@import './components/body';
@import './utils/mixin';
@import './components/logo.scss';
@import './components/container';
@import'./components/header';
@import'./components/sloganhero';
@import'./components/advantage';
@import'./components/direction';
@import'./components/team';
@import'./components/networkLabe';
@import'./components/_clients';
@import'./components/footer';
@import'./components/examples';
@import'./components/card';
@import'./components/backdrop'