.card {
    // margin-right: 30px;
    margin-bottom: 30px;
    width: 100%;
    @media screen and(min-width:768px) {
            flex-basis: calc((100% - 2 * 30px) / 2);
        }
        @media screen and(min-width:1200px) {
            flex-basis: calc((100% - 3 * 30px) / 3);
        }
        &:last-child {
            @media screen and(min-width:768px) {
                justify-content: flex-start;
            }
        }

    &:first-child{
        margin-top: 40px;
    @media screen and(min-width:768px) {
        margin-top: 0;
    }
    
    }

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    // &:nth-child(3n) {
    //     margin-right: 0px;
    // }
    // &:nth-last-child(-n + 3) {
    //     margin-bottom: 0px;
    // }

}




.card__title {
    margin: 0;
    margin-bottom: 4px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
}

.card__category {
    margin: 0;
    font-size: 16px;
    line-height: 1.88;
    color: $primary-text-color;
}

.card__bottom {
    border: 1px solid $btn-background;
    border-top: none;
    padding: 20px 24px;
}

.card__img {
    display: block;
    max-height: 100%;
    height: auto;
    width: 100%;
}

/* робимо інтерактивні ефекти на портфоліо картинки */
.card__description {
    display: flex;
    position: relative;
    overflow: hidden;
}

.card__text {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding-top: 63px;
    padding-left: 23px;
    padding-right: 23px;
    position: absolute;
    transform: translateY(100%);
    width: 100%;
    height: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: $background-color;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    transition: transform 250ms $primary-cube;
}

/* .description::before{
    content:"Ресурс предлагает комплексные предложения с разным уровнем функционала и сервисов. Все это позволит посетителю получить исчерпывающие сведения о компании или частном лице.";
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    display: block;
    padding: 63px 24px;

    position: absolute;
    opacity: 1;
    transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--background-color); */

.card:hover .card__text,
.card:focus .card__text {
    opacity: 1;
    transform: translateY(0%);
}

/* .exampl-flex:hover .description-text{
    opacity: 1;
    bottom:-100%;
    transform: translate(0,-150%); 
/* .nav-link:current
{
    color: var(--accent-text-color);
} */

.last-card{
    @media screen and(min-width:768px) {
        margin-left: 20px;
        margin-right: auto;}
}   