header {
  border-bottom: 1px solid $header-border;
}

@media(min-width:480px) {
  .header{
    @include container();
    position: relative;
    height: 60px;
  }

  .header__navmenu, .header__auth{
    display: none;
  }
  .logo {
    display: inline-block;
    padding: 16px 0px 16px 15px;
    font-size: 24px;
    
  }
  
  .header__humburger{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 40px;
    height: 40px;
  }
}