.team {
  background-color: $btn-background;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px){
    @include markup();
  }
  }

.team__title {
 @include title();
  font-size: 28px;
  line-height: 1.17;
}

 .team__text {
   line-height: 1.18;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 16px;

 }

// .team__wrapper {
//   display: flex;
//   background-color: $btn-background;
// }

 .team__block {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   background-color: $background-color;
  //  &+.team__block {
  //      margin-left: 30px;
  //    }
@media screen and (min-width: 768px) {
  flex-basis: calc((100% - 2 * 30px) / 2);
}
@media screen and (min-width: 1200px){
  &+.team__block {
      margin-left: 30px;
}
 }
 }
 
 .team__image {
   margin-bottom: 30px;
   display: block;
   max-height: 100%;
   height: auto;
   width: 100%;
 }

 .team__name{
   margin-bottom: 10px;
  
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   color: $title-text-color;
   text-align: center;

 }

 .team__wrapper {
  @media screen and (min-width: 768px){
    @include centerFlex();
    gap:15px;
    flex-wrap: wrap;
    justify-content: center
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    background-color: $btn-background;
  }
}

