.advantage {
    @include markup();
}

.advantage__card-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-text-color;
}

/* розмітка тексту переваг */
.advantage__paragraf {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
    margin-bottom: 0px;
}

.advantage__title {
    display: none;
    text-align: center;
}

.advantage__card::before {
    display: block;
    content: '';
    width: 270px; 
    height: 120px;
    margin-bottom: 30px;
    background-color: $btn-background;
    border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center;
   
    }


.advantage__card {
    &+.advantage__card {
            margin-left: 30px;
        }
    &:nth-child(1)::before {
             background-image: url(../images/antenna.svg);
         }
    
     &:nth-child(2)::before {
             background-image: url(../images/clock.svg);
         }
    
     &:nth-child(3)::before {
             background-image: url(../images/diagram.svg);
     }
    
    &:nth-child(4)::before {
                 background-image: url(../images/astronaut.svg);
             }
}