
.contacts:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    @media screen and (min-width: 768px) and (max-width:1200px) {
            padding-bottom: 10px;

    }
}

// .contacts__icon {
//     margin-right: 10px;
//     fill: currentColor;
// }

// .contacts__icon--mail {
//     width: 16px;
//     height: 12px;
// }

// .contacts__icon--phone {
//     width: 10px;
//     height: 16px;
// }