header {
  border-bottom: 1px solid $header-border;
}

.header__nav {
  @include centerFlex();
}

.header__navmenu{
  display: flex;
  align-items: center;
  margin-left: 93px;
    /* outline: 2px dashed green; */
  align-self: stretch;
}

.header__navlink {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $primary-cube;

    &:hover, &:focus{
      color: $accent-text-color;
      fill: $accent-text-color;

    } 
  }

.header__navlink--active {
  position: relative;
    color: $accent-text-color;
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        background-color: $accent-text-color;
        border-radius: 2px;
        bottom: -1px;
        left: 0;
      }
}

.header__nav {
  height: 100%;
  &:not(:last-child){
    margin-right: 50px;
  }
}

.header__auth {
  @include centerFlex();
    justify-content: none;
  margin-left: auto;
}

/* задаємо відступ між елементами*/
// .contacts:not(:last-child) {
//   margin-right: 50px;
// }

.header__contacts {
  display: flex;
  align-items: center;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); - це короткий запис */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $primary-cube;
  &:hover,
  &:focus {
    color: $accent-text-color;
    fill: $accent-text-color;

  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon--mail {
  width: 16px;
  height: 12px;
}

.contacts__icon--phone {
  width: 10px;
  height: 16px;
}