.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-text-color;
}

.logo__secondpart {
  display: inline-block;

  color: $title-text-color;
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  & >span{
      color: $background-color;
    };
}