.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  color: $accent-text-color;

  @media screen and (min-width: 481px) {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    width: 149px;

  @media screen and(min-width: 481px) and (max-width:768px) {
    padding-top: 0;
    padding-bottom: 0;
    
  }
    
  }

    @media screen and (min-width: 1200px){
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      width: 160px;

    }
}

.logo__secondpart {
  display: inline-block;
  color: $title-text-color;
  @media screen and (min-width:768px) and (max-width:1200px) {
    display: inline;
    
  }
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  & >span{
      color: $background-color;
    }
}

