.network {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 30px;
    justify-content: center;
    width: 206px;
}

.network__icon {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    color: rgba(175, 177, 184, 1);
    transition: color 250ms $primary-cube, background-color 250ms $primary-cube;

    &:not(:last-child) {
            margin-right: 10px;
        }
    &:hover,
    &:focus {
            background-color: $accent-text-color;
            fill: $background-color;
        }
    &:hover .network__labe,
    &:focus .network__labe {
            fill: $background-color;
        }
}

.network__icon--foot {
    justify-content: flex-start;
    width: 44px;
    background: rgba(255, 255, 255, 0.1);
}

.network__icon--foot:not(:last-child) {
    margin-left: 10px;
}


.network__labe {
    fill: rgba(175, 177, 184, 1);
}

.network__title {
    line-height: 1.14;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: $background-color;
    margin: 0;
    margin-bottom: 20px;
}

.network__list {
    display: flex;
    margin-top: 20px;
    &>li:not(:last-child) {
            margin-right: 10px;
        }
}

.network--footer{
    display: block;
}

.network__labe--foot {
    margin: 0 auto;
    fill: #ffffff;
}