.sloganhero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: $slogan-background;
    background-image: linear-gradient(to right, $hero-overlay, $hero-overlay),
        url(../images/backgroun-heads.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.sloganhero__text {
    margin: 0 auto;
    width: 696px;

    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $background-color;
}

.sloganhero__button {
    padding: 10px 32px;
    margin-top: 30px;
    border-radius: 4px;
    display: inline-block;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    /* background-color: var(--accent-text-color);
    color: var(--background-color); приміняємо другий клас active*/
}

.sloganhero__button--active {
background: $accent-text-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    color: $background-color;
}
