@mixin border($size: 1px, $type: solid, $color: $background-color ) {
    border: $size $type $color;
}

@mixin centerFlex($type: flex, $justify:center, $align:center  ) {
    display: $type;
    justify-content: justify;
    align-items: center;
}

@mixin markup(){
    padding-top: 94px;
    padding-bottom: 94px;
}

@mixin title(){
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: $title-text-color;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
}