$primary-text-color: #757575;
$title-text-color: rgb(33, 33, 33);
$accent-text-color: rgba(33, 150, 243, 1);
$background-color: #ffffff;
$btn-background: rgb(245, 244, 250);
$slogan-background: #2f303a;
$footer-color: rgba(255, 255, 255, 0.6);
$header-border: rgb(236, 236, 236);
$card-border: rgb(238, 238, 238);
$hero-overlay: rgba(47, 48, 58, 0.4);
$company-color: #afb1b8;


$primary-cube: cubic-bezier(0.4, 0, 0.2, 1);